@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet-active {
  background-color: #b2191e !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  visibility: hidden;
  color: black;
}

@media (min-width: 768px) {
  .swiper-button-prev::after,
  .swiper-button-next::after {
    visibility: visible;
  }
}

@media (max-width: 768px) {
  .min-h-350 {
    min-height: 350px;
  }
}

.text-shadow {
  text-shadow: 2px 2px 5.76px rgba(0, 0, 0, 0.5);
}

.text-shadow-0 {
  text-shadow: none;
}

@media (max-width: 768px) {
  .flex-col-reverse-max {
    flex-direction: column-reverse;
  }
}

.text-center-tw {
  text-align: center;
}
